<!doctype html>
<html ng-app="ciesd">

<head>
    <meta charset="UTF-8" />
    <title>Controle Interno de Entrada e Saída de Documentos - CPC</title>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-animate.js"></script>
	<script src="lib/angular-locale_pt-br.js"></script>    
    <script src="js/ciesd.js"></script>
    <script src="js/uiDateDirective.js"></script>
    <script src="js/uiAccordionDirective.js"></script>            
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/ciesd.css">
</head>

<body ng-controller="ciesdCtrl">
    <div class="container-fluid">
        <div class='row-fluid'>
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3"></div>            
            <div class="jumbotron col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div ng-if="documentos">
                    <h3 class='txt-cntrl'>Controle Interno de Entrada e Saída de Documentos - CPC</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class='txt-cntrl'><a href="" ng-click="ordenarPor('id')">ID</a></th>
                                <th class='txt-cntrl'><a href="" ng-click="ordenarPor('dataCadastro')">Data</a></th>
                                <th class='txt-cntrl'><a href="" ng-click="ordenarPor('titulo')">Título/Assunto</a></th>
                                <th class='txt-cntrl'><a href="" ng-click="ordenarPor('tipoDocumento.nome')">Tipo de Doumento</a></th>
                                <th class='txt-cntrl'></th>                                
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <ui-accordions>
                        <ui-accordion ng-repeat="documento in documentos | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao | filter:searchText | limitTo:20" 
                            id="{{documento.id}}"
                            titulo="{{documento.titulo}}"                         
                            data="{{documento.dataCadastro | date:'dd/MM/yyyy'}}"
                            tipo="{{documento.tipoDocumento.nome}}"
                        >
                        {{documento.id}}<br />
                        {{documento.titulo}}<br />
                        {{documento.dataCadastro}}<br />
                        {{documento.tipoDocumento.nome}}<br />                                                                        
                        </ui-accordion>                       
                    </ui-accordions>   
                </div>
                <div>
                    <form name="documentoForm" id="documentoForm">
                        <label for='titulo'>Título/Assunto:</label>
                        <input type="text" ng-model="documento.titulo" class="form-control" ng-required="true" ng-minlength="5" name="titulo" 
                        placeholder="Por favor, digite o título do Documento!"/>
                        <div ng-show="documentoForm.titulo.$error.required && documentoForm.titulo.$dirty" class="alert alert-danger">
                            Por favor, digite o título do Documento!
                        </div>
                        <div ng-show="documentoForm.titulo.$error.minlength" class="alert alert-danger">
                            Campo nome deve ter no mínimo 5 caracteres.
                        </div>  
                        <!--                          
                        <span ng-if="documento.tipoDocumento.nome" class="sigil" ng-class="documento.tipoDocumento.nome | lowercase"></span>
                        -->
                        <label for="tipoDocumento">Tipo de Documento:</label>
                        <select name="tipoDocumento" id="tipoDocumento" ng-model="documento.tipoDocumento" class="form-control" 
                                ng-options="tipoDocumento.nome for tipoDocumento in tiposDocumento track by tipoDocumento.id"
                                ng-model="data.selectedOption" ng-required="true" >
                        </select>
                        <label for='dataCadastro'>Data:</label>
                        <input type="text" ng-model="documento.dataCadastro" class="form-control" ng-required="true" ng-minlength="10" name="dataCadastro" 
                        placeholder="Digite a data..." ui-date />
                        <div ng-show="documentoForm.dataCadastro.$error.required && documentoForm.dataCadastro.$dirty" class="alert alert-danger">
                            Digite a data...
                        </div>
                        <div ng-show="documentoForm.dataCadastro.$error.minlength" class="alert alert-danger">
                            A data deve estar no formato dd/mm/aaaa.
                        </div>                                                
                        <button class="btn btn-primary btn-block" ng-click="cadastrar(documento)" ng-disabled="documentoForm.$invalid">
                                <span class="glyphicon glyphicon-file"></span> Cadastrar documento
                        </button>
                        <!--
		                <button class="btn btn-danger btn-block" ng-click="liberarSoldados(army)" ng-hide="!isSoldadoSelecionado(army)">Liberar Soldados</button>                        
                        <br>
                        -->
                        <br>
                    </form>
                </div>
                <div>
                    <button class="btn btn-primary btn-block" ng-click="ativarProcura()">
                        <span class="glyphicon glyphicon-file"></span> {{procurador.status ? procurador.ativo : procurador.inativo}}
                    </button>
                    <div ng-show="procurador.status">
                        <br />
                        <label>Procurar documento <span class="glyphicon glyphicon-search"></span>: 
                            <input ng-model="searchText" placeholder="Digite aqui o argumento de busca..." size="38" >
                        </label>
                    </div>
                </div>                                        
            </div>
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3"></div>
        </div>
    </div>
</body>

</html>