<!doctype html>
<html ng-app="ciesd">

<head>
    <meta charset="UTF-8" />
    <title>Controle Interno de Entrada e Saída de Documentos - CPC</title>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-animate.js"></script>
	<script src="lib/angular-locale_pt-br.js"></script>    
    <script src="js/ciesd.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/ciesd.css">
</head>

<body ng-controller="ciesdCtrl">
    <div class="container-fluid">
        <div class='row-fluid'>
            <div class="hidden-xs col-sm-2 col-md-3 col-lg-3"></div>
            <div class="jumbotron col-xs-10 col-sm-8 col-md-5 col-lg-4">
                <div ng-if="documentos">
                    <h3>Controle Interno de Entrada e Saída de Documentos - CPC</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th><a href="" ng-click="ordenarPor('id')">ID</a></th>
                                <th><a href="" ng-click="ordenarPor('dataCadastro')">Data</a></th>
                                <th><a href="" ng-click="ordenarPor('titulo')">Título/Assunto</a></th>
                                <th><a href="" ng-click="ordenarPor('tipoDocumento.nome')">Tipo de Doumento</a></th>
                                <!--
                                <th><a href="" ng-click="ordenarPor('house.name')">House</a></th>
                                <th><a href="" ng-click="ordenarPor('name')">Soldier</a></th>
                                -->
                                <th></th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr ng-repeat="documento in documentos | filter:searchText | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao | limitTo:15"> -->                            
                            <tr ng-repeat="documento in documentos | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                                <td align=middle>
                                    {{documento.id}}
                                </td>
                                <td align=middle>
                                    {{documento.dataCadastro | date:'dd/MM/yyyy'}}                               
                                </td>                                
                                <td>
                                    {{documento.titulo}}
                                </td>
                                <td>
                                    {{documento.tipoDocumento.nome}}
                                </td>                                
                                <td>
                                    <input type="checkbox" ng-model="documento.selecionado" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--
                <div>
                    <form name="soldierForm" id="soldierForm">
                        <label for='soldier'>Name:</label>
                        <input type="text" ng-model="man.name" class="form-control" ng-required="true" ng-minlength="5" name="nome" />
                        <div ng-show="soldierForm.nome.$error.required && soldierForm.nome.$dirty" class="alert alert-danger">
                            Por favor, preenchar o nome!
                        </div>
                        <div ng-show="soldierForm.nome.$error.minlength" class="alert alert-danger">
                            Campo nome deve ter no mínimo 5 caracteres.
                        </div>                            
                        <span ng-if="man.house.name" class="sigil" ng-class="man.house.name | lowercase"></span>
                        <label for="house">House:</label>
                        <select name="house" id="house" ng-model="man.house" class="form-control" ng-options="house.name for house in houses track by house.icon"
                        ng-model="data.selectedOption" ng-required="true" >
                        </select>
                        <button class="btn btn-primary btn-block" ng-click="alistar(man)" ng-disabled="soldierForm.$invalid">Enlist</button>
                        <br>
		                <button class="btn btn-danger btn-block" ng-click="liberarSoldados(army)" ng-hide="!isSoldadoSelecionado(army)">Liberar Soldados</button>                        
                        <br>
                        <label>Search by House:
                            <input ng-model="searchText" placeholder="Type the name of a House...">
                        </label>
                    </form>
                    <br />
                </div>
                -->           
            </div>
            <div class="hidden-xs hidden-sm col-md-3 col-lg-4"></div>
        </div>
    </div>
</body>

</html>