<div class="panel panel-info ui-accordion">
  <div class="panel-heading" >
    <h3 class="panel-title">
        <div class="media">
            <div class="media-left  media-middle">
                <span class="badge">{{qtd}}</span>
            </div>
            <div class="media-body" ng-click="open()">
                {{id}} - <strong>{{titulo}}</strong><br />
                {{data}} - {{tipo}}        
            </div>
            <div class="media-right  media-middle" >
                <button class="btn btn-danger btn-block" ng-click="delDocumento({'id':id})">
                    <i class="glyphicon glyphicon-trash "></i>
                </button>                
            </div>            
        </div>
    </h3>
  </div>
  <div class="panel-body" ng-show="isOpened">
    <br />
    <div ng-show="!tramites" class="alert {{messageType}}">{{message}}
        <div class="progress" ng-show="showBar">     
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
        </div>        
    </div>    
    <table class="table" ng-if="tramites">
        <thead>
            <tr>
                <th class='txt-cntrl'>ID</th>
                <th class='txt-cntrl'>Data</th>
                <th class='txt-cntrl'>Origem</th>
                <th class='txt-cntrl'>Destino</th>                            
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tramite in tramites | orderBy:'dataTramite' ">
                <td>{{tramite.id}}</td>
                <td>{{tramite.dataTramite}}</td> 
                <td>{{tramite.origem}}</td>
                <td>{{tramite.destino}}</td>             
            </tr>
        </tbody>
    </table> 
    <div>
        <button class="btn btn-primary btn-block" ng-click="ativarTramites()">
            <span class="glyphicon glyphicon-file"></span> {{tramitador.status ? tramitador.ativo : tramitador.inativo}}
        </button>          
        <form name="tramiteForm" id="tramiteForm" ng-show="tramitador.status">
            <br />                                 
            <label for='origem'>Origem:</label>
            <input type="text" ng-model="tramite.origem" class="form-control" ng-required="true" ng-minlength="3" name="origem" 
            placeholder="Por favor, digite a origem da Tramitação."/>
            <div ng-show="tramiteForm.origem.$error.required && tramiteForm.origem.$dirty" class="alert alert-danger">
                Por favor, digite a origem da Tramitação
            </div>
            <div ng-show="tramiteForm.origem.$error.minlength" class="alert alert-danger">
                Campo nome deve ter no mínimo 3 caracteres.
            </div>
            <label for='destino'>Destino:</label>
            <input type="text" ng-model="tramite.destino" class="form-control" ng-required="true" ng-minlength="3" name="destino" 
            placeholder="Por favor, digite o destino da Tramitação."/>
            <div ng-show="tramiteForm.destino.$error.required && tramiteForm.destino.$dirty" class="alert alert-danger">
                Por favor, digite o destino da Tramitação
            </div>
            <div ng-show="tramiteForm.destino.$error.minlength" class="alert alert-danger">
                Campo nome deve ter no mínimo 3 caracteres.
            </div>              
            <label for='dataTramite'>Data:</label>
            <input type="text" ng-model="tramite.dataTramite" class="form-control" ng-required="true" ng-minlength="10" name="dataTramite" 
            placeholder="Digite a data..." ui-date />
            <div ng-show="tramiteForm.dataTramite.$error.required && tramiteForm.dataTramite.$dirty" class="alert alert-danger">
                Digite a data...
            </div>
            <div ng-show="tramiteForm.dataTramite.$error.minlength" class="alert alert-danger">
                A data deve estar no formato dd/mm/aaaa.
            </div>   
            <br />                                        
            <button class="btn btn-success btn-block" ng-click="tramitar(tramite, id)" ng-disabled="tramiteForm.$invalid">
                    <span class="glyphicon glyphicon-file"></span> Tramitar documento
            </button>
            <br>
        </form>                        
    </div>     
  </div>
</div>